#world-canvas {
	float: left;
	border-style: solid;
	border-width: 1px;
}

#info-box {
	float: left;
	border-style: solid;
	border-width: 2px;
}

#console {
	float:left;
	border-style: solid;
	border-width: 5px;
	background-color: black;
	color: lightblue;
	width: 300px;
	height: 250px;
}

#display {
	padding: 10px 10px;
}

#info-canvas {
	float: left;
	margin: 5px 5px;
	padding: 5px 5px;
}

#blank-canvas {
	float: left;
}

#info {
	/*float: right;*/
}